<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <footer class="footer" th:fragment="footer">
        <form class="instruction-form">
            <h4>"웹 설명을 이메일로 받아보세요."</h4>
            <input type="email" placeholder="Email">
            <button type="submit" class="custom-button">SubMit</button>
        </form>

        <div class="footer-content">
            <p>&copy; 2023 KioskEase Pro. All rights reserved.</p>
        </div>

        <div class="developer-info">
            <div class="developer">
                <h4>개발자 :부천대학교 주동호</h4>
                <p>주소 : 인천광역시</p>
                <p>전화번호 : +82) 010-7761-8482</p>
            </div>
        </div>

    </footer>
</html>