<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
</head>
<body>
<div th:fragment="header">
    <header class="header">
        <div class="logo">KioskEase Pro</div>
        <nav class="menu">
            <ul>
                <li><a th:href="@{/kiosk/create}">Create Kiosk</a></li>
                <li><a th:href="@{/menu/}">MY Store Menu</a></li>
                <li><a th:href="@{/menu/new}">Create Kiosk Directory</a></li>
                <li id="user-current">
                    <a th:href="@{/user/login}" sec:authorize="isAnonymous()">Login</a>
                    <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
</div>


</body>
</html>
